doctype html
head
    meta(charset="utf-8")
    title Simple demo
    link(type="text/css" rel="stylesheet" media="screen" href="styles.css")
body
    h1 Mouse moving

    .repository
        span Source at
        a(href="https://github.com/PekkaPLeppanen/simple-demo" title="Github link") Github

    .results
        .current
            .current-x
                span.label X:
                span.current-x-value
            .current-y
                span.label Y:
                span.current-y-value
        .graph
            .acceleration-vector
    script(type="application/javascript" src="Utils.js")
    script(type="application/javascript" src="Vector.js")
    script(type="application/javascript" src="MouseMoveListener.js")
    script(type="application/javascript" src="zepto.min.js" onload="new MouseMoveListener();")
