doctype html
head
    meta(charset="utf-8")
    title Simple demo
    link(type="text/css" rel="stylesheet" media="screen" href="styles.css")
body
    h1 Mouse moving
    .results
        .current
            .current-x
                span.label X:
                span.current-x-value
            .current-y
                span.label Y:
                span.current-y-value
        .max
            .max-x
                span.label Max X:
                span.max-x-value
            .max-y
                span.label Max Y:
                span.max-y-value
        .graph
            .acceleration-vector
    script(async type="application/javascript" src="Utils.js")
    script(async type="application/javascript" src="Vector.js")
    script(async type="application/javascript" src="MouseMoveListener.js")
    script(async type="application/javascript" src="../lib/zepto.min.js" onload="new MouseMoveListener();")
