doctype html
head
    title Simple demo


body
    h1 Mouse moving
    .results
        .current
            .current-x
                span.label X:
                span.current-x-value
            .current-y
                span.label Y:
                span.current-y-value
        .max
            .max-x
                span.label Max X:
                span.max-x-value
            .max-y
                span.label Max Y:
                span.max-y-value

    script(async type="application/javascript" src="MouseMoveListener.js")
    script(async type="application/javascript" src="http://zeptojs.com/zepto.min.js" onload="new MouseMoveListener();")
